$primary: #fcfaf5;
$secondary: #76323f;

.paper-form {
    border: 1.5px solid #c1c1c1;
    padding-right: 8px;
    box-shadow:none;
}

.search-input {
    border: none;
    outline: none;
    width: 350px;
    padding-left: 16px;
    padding: 10px 8px;
}

