$primary: #fcfaf5;
$secondary: #7632;

.navbar {
    // background-color: $primary;
    background-color: rgb(0, 30, 60);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999 !important;
}

.site-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(236, 247, 93);
    font-weight: 500;
    
    h3 {
        margin: 0;
    }
}

.logo-text {
    border: 1px solid rgb(246, 207, 34);
    padding: 2px;
}